site: www.houen.net
url: https://www.houen.net
title: houen.net
timezone: Europe/Berlin
# description: Simple and minimalistic jekyll blogging theme.
author:
  name: Søren Houen
  url: https://www.houen.net
  first_name: Søren
  last_name: Houen
#  email: #youremail
#  twitter: #yourusername
#  avatar:
# twitter:
#   username: #yourusername
#   card: summary
#   creator: #yourusername
permalink: pretty
img_path: "/assets/images/houen_net_logo_with_plant_400x180.png"
img_width: 400
img_height: 200

kramdown:
  auto_ids: true
  input: GFM

baseurl: ""

highlighter: rouge

exclude:
  - .jekyll-cache
  
compress_html:
  clippings: all
  comments: ["<!-- ", " -->"]

sass:
  sass_dir:          _sass
  style:            :compressed

plugins:
  - jekyll-paginate
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-last-modified-at
  - jekyll-redirect-from

collections:
  pages:
    output: true
    permalink: /:name
  posts:
    output: true
    permalink: /:slug/
  
defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
