---
layout: compress
---

<!DOCTYPE html>
<html lang="en" >
  {% include head.html %}  
  <body>
    <div class="logo">
<!--      <img src="/assets/images/houen_net_logo_2_600x84.png">-->
<!--       <h1 class="logo">{{ site.title }}</h1> -->
    </div>

    <main role="main">

      <!-- <header role="logo">
        <img src="/assets/images/houen_net_logo.png">
      </header> -->
	    
      {% include navigation.html %}
	    
        {{ content }}
        	    
    </main>

    <script src="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js"></script>
    <script>
      anchors.add();
    </script>
  </body>
</html>
